@page
@model AspnetCoreStarter.Pages.IndexModel
@{
  ViewData["Title"] = "Home - Starter Kit";
}

@* ************** Content ************** *@
<h4>Home Page</h4>
<p>For more layout options refer <a href='@TempData.Peek("documentation")' target="_blank" rel="noopener noreferrer">documentation</a>.</p>
