@page
@model AspnetCoreFull.Pages.Cards.AnalyticsModel
@{
  ViewData["Title"] = "Cards Analytics - UI elements";
}

@* ************** Content ************** *@

<h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">UI Elements /</span> Cards Analytics</h4>