@page
@model AspnetCoreFull.Pages.Icons.FeatherModel
@{
  ViewData["Title"] = "Feather - Icons";
}

@section PageStyles {
<link rel="stylesheet" href="~/vendor/css/pages/page-icons.dist.css" />
}

@* ************** Content ************** *@
<h4 class="fw-bold py-3 mb-4">
  <span class="text-muted fw-light">Icons /</span> Feather Icons
</h4>

<p>You can check complete list of feather icons from <a href="https://feathericons.com/" target="_blank">https://feathericons.com/</a></p>

<!-- Icon Container -->
<div class="d-flex flex-wrap" id="icons-container">
  <div class="card icon-card cursor-pointer text-center  mb-4 mx-2">
    <div class="card-body">
      <i data-feather="activity" class="mb-3"></i>
      <p class="icon-name text-capitalize text-truncate mb-0">Activity</p>
    </div>
  </div>
  <div class="card icon-card cursor-pointer text-center  mb-4 mx-2">
    <div class="card-body">
      <i data-feather="airplay" class="mb-3"></i>
      <p class="icon-name text-capitalize text-truncate mb-0">airplay</p>
    </div>
  </div>
  <div class="card icon-card cursor-pointer text-center  mb-4 mx-2">
    <div class="card-body">
      <i data-feather="alert-circle" class="mb-3"></i>
      <p class="icon-name text-capitalize text-truncate mb-0">alert-circle</p>
    </div>
  </div>
  <div class="card icon-card cursor-pointer text-center  mb-4 mx-2">
    <div class="card-body">
      <i data-feather="alert-octagon" class="mb-3"></i>
      <p class="icon-name text-capitalize text-truncate mb-0">alert-octagon</p>
    </div>
  </div>
  <div class="card icon-card cursor-pointer text-center  mb-4 mx-2">
    <div class="card-body">
      <i data-feather="alert-triangle" class="mb-3"></i>
      <p class="icon-name text-capitalize text-truncate mb-0">alert-triangle</p>
    </div>
  </div>
  <div class="card icon-card cursor-pointer text-center  mb-4 mx-2">
    <div class="card-body">
      <i data-feather="anchor" class="mb-3"></i>
      <p class="icon-name text-capitalize text-truncate mb-0">anchor</p>
    </div>
  </div>
  <div class="card icon-card cursor-pointer text-center  mb-4 mx-2">
    <div class="card-body">
      <i data-feather="aperture" class="mb-3"></i>
      <p class="icon-name text-capitalize text-truncate mb-0">aperture</p>
    </div>
  </div>
  <div class="card icon-card cursor-pointer text-center  mb-4 mx-2">
    <div class="card-body">
      <i data-feather="archive" class="mb-3"></i>
      <p class="icon-name text-capitalize text-truncate mb-0">archive</p>
    </div>
  </div>
  <div class="card icon-card cursor-pointer text-center  mb-4 mx-2">
    <div class="card-body">
      <i data-feather="at-sign" class="mb-3"></i>
      <p class="icon-name text-capitalize text-truncate mb-0">at-sign</p>
    </div>
  </div>
  <div class="card icon-card cursor-pointer text-center  mb-4 mx-2">
    <div class="card-body">
      <i data-feather="award" class="mb-3"></i>
      <p class="icon-name text-capitalize text-truncate mb-0">award</p>
    </div>
  </div>
  <div class="card icon-card cursor-pointer text-center  mb-4 mx-2">
    <div class="card-body">
      <i data-feather="bar-chart-2" class="mb-3"></i>
      <p class="icon-name text-capitalize text-truncate mb-0">bar-chart-2</p>
    </div>
  </div>
  <div class="card icon-card cursor-pointer text-center  mb-4 mx-2">
    <div class="card-body">
      <i data-feather="bar-chart" class="mb-3"></i>
      <p class="icon-name text-capitalize text-truncate mb-0">bar-chart</p>
    </div>
  </div>
  <div class="card icon-card cursor-pointer text-center  mb-4 mx-2">
    <div class="card-body">
      <i data-feather="battery-charging" class="mb-3"></i>
      <p class="icon-name text-capitalize text-truncate mb-0">battery-charging</p>
    </div>
  </div>
  <div class="card icon-card cursor-pointer text-center  mb-4 mx-2">
    <div class="card-body">
      <i data-feather="battery" class="mb-3"></i>
      <p class="icon-name text-capitalize text-truncate mb-0">battery</p>
    </div>
  </div>
  <div class="card icon-card cursor-pointer text-center  mb-4 mx-2">
    <div class="card-body">
      <i data-feather="bell-off" class="mb-3"></i>
      <p class="icon-name text-capitalize text-truncate mb-0">bell-off</p>
    </div>
  </div>
  <div class="card icon-card cursor-pointer text-center  mb-4 mx-2">
    <div class="card-body">
      <i data-feather="bell" class="mb-3"></i>
      <p class="icon-name text-capitalize text-truncate mb-0">bell</p>
    </div>
  </div>
  <div class="card icon-card cursor-pointer text-center  mb-4 mx-2">
    <div class="card-body">
      <i data-feather="bluetooth" class="mb-3"></i>
      <p class="icon-name text-capitalize text-truncate mb-0">bluetooth</p>
    </div>
  </div>
  <div class="card icon-card cursor-pointer text-center  mb-4 mx-2">
    <div class="card-body">
      <i data-feather="bold" class="mb-3"></i>
      <p class="icon-name text-capitalize text-truncate mb-0">bold</p>
    </div>
  </div>
  <div class="card icon-card cursor-pointer text-center  mb-4 mx-2">
    <div class="card-body">
      <i data-feather="book-open" class="mb-3"></i>
      <p class="icon-name text-capitalize text-truncate mb-0">book-open</p>
    </div>
  </div>
  <div class="card icon-card cursor-pointer text-center  mb-4 mx-2">
    <div class="card-body">
      <i data-feather="book" class="mb-3"></i>
      <p class="icon-name text-capitalize text-truncate mb-0">book</p>
    </div>
  </div>
  <div class="card icon-card cursor-pointer text-center  mb-4 mx-2">
    <div class="card-body">
      <i data-feather="bookmark" class="mb-3"></i>
      <p class="icon-name text-capitalize text-truncate mb-0">bookmark</p>
    </div>
  </div>
  <div class="card icon-card cursor-pointer text-center  mb-4 mx-2">
    <div class="card-body">
      <i data-feather="box" class="mb-3"></i>
      <p class="icon-name text-capitalize text-truncate mb-0">box</p>
    </div>
  </div>
  <div class="card icon-card cursor-pointer text-center  mb-4 mx-2">
    <div class="card-body">
      <i data-feather="briefcase" class="mb-3"></i>
      <p class="icon-name text-capitalize text-truncate mb-0">briefcase</p>
    </div>
  </div>
  <div class="card icon-card cursor-pointer text-center  mb-4 mx-2">
    <div class="card-body">
      <i data-feather="calendar" class="mb-3"></i>
      <p class="icon-name text-capitalize text-truncate mb-0">calendar</p>
    </div>
  </div>
</div>

<!-- Buttons -->
<div class="d-flex justify-content-center mx-auto gap-3">
  <a href="https://feathericons.com/" target="_blank" class="btn btn-primary">View All Icons</a>
  <a href='@TempData.Peek("documentation")/Icons.html' class="btn btn-primary" target="_blank">How to use icons?</a>
</div>