@page
@model AspnetCoreFull.Pages.Pages.HelpCenter.LandingModel
@{
  ViewData["Title"] = "Help Center - Landing";
}

@section PageStyles {
<link rel="stylesheet" href="~/vendor/css/pages/page-help-center.dist.css" />
}

@* ************** Content ************** *@
<!-- Help Center Header -->
<div class="help-center-header container-m-nx mt-n4 d-flex flex-column justify-content-center align-items-center">
  <h3 class="text-center"> Hello, how can we help? </h3>
  <div class="input-wrapper my-3 input-group input-group-merge">
    <span class="input-group-text" id="basic-addon1"><i class="bx bx-search-alt"></i></span>
    <input type="text" class="form-control" placeholder="Search" aria-label="Search" aria-describedby="basic-addon1" />
  </div>
  <p class="text-muted text-center px-3 mb-0">Common troubleshooting topics: eCommerce, Blogging to payment</p>
</div>
<!-- /Help Center Header -->

<!-- Popular Articles -->
<div class="help-center-popular-articles bg-help-center container-m-nx py-5">
  <div class="container-xl">
    <h4 class="text-center my-4">Popular Articles</h4>
    <div class="row">
      <div class="col-lg-10 mx-auto">
        <div class="row">
          <div class="col-md-4 mb-md-0 mb-4">
            <div class="card border">
              <div class="card-body text-center">
                <img class="mb-3" src="~/img/illustrations/page-help-center-rocket-light.png" height="60" alt="Help center articles">
                <h5>Getting Started</h5>
                <p> Whether you're new or you're a power user, this article will… </p>
                <a class="btn btn-label-primary" href="Article">Read More</a>
              </div>
            </div>
          </div>

          <div class="col-md-4 mb-md-0 mb-4">
            <div class="card border">
              <div class="card-body text-center">
                <img class="mb-3" src="~/img/illustrations/page-help-center-badge-light.png" height="60" alt="Help center articles">
                <h5>First Steps</h5>
                <p> Are you a new customer wondering how to get started? </p>
                <a class="btn btn-label-primary" href="Article">Read More</a>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="card border">
              <div class="card-body text-center">
                <img class="mb-3" src="~/img/illustrations/page-help-center-content-light.png" height="60" alt="Help center articles">
                <h5>Add External Content</h5>
                <p> This article will show you how to expand the functionality of... </p>
                <a class="btn btn-label-primary" href="Article">Read More</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /Popular Articles -->

<!-- Knowledge Base -->
<div class="help-center-knowledge-base container-m-nx py-5">
  <div class="container-xl">
    <h4 class="text-center mb-4">Knowledge Base</h4>
    <div class="row">
      <div class="col-lg-10 mx-auto">
        <div class="row">
          <div class="col-md-4 col-sm-6 mb-4">
            <div class="card">
              <div class="card-body">
                <div class="d-flex align-items-center mb-2">
                  <span class="badge bg-label-success p-2 rounded me-2"><i class="bx bx-cart bx-sm"></i></span>
                  <h5 class="fw-semibold mt-3 ms-1">eCommerce</h5>
                </div>
                <ul>
                  <li class="text-primary py-1"><a href="Categories">Pricing Wizard</a></li>
                  <li class="text-primary pb-1"><a href="Categories">Square Sync</a></li>
                </ul>
                <p class="mb-0 fw-semibold">
                  <a href="javascript:void(0);">56 articles</a>
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-sm-6 mb-4">
            <div class="card">
              <div class="card-body">
                <div class="d-flex align-items-center mb-2">
                  <span class="badge bg-label-info p-2 rounded me-2"><i class="bx bx-laptop bx-sm"></i></span>
                  <h5 class="fw-semibold mt-3 ms-1">Building Your Website</h5>
                </div>
                <ul>
                  <li class="text-primary py-1"><a href="Categories">First Steps</a></li>
                  <li class="text-primary pb-1"><a href="Categories">Add Images</a></li>
                </ul>
                <p class="mb-0 fw-semibold">
                  <a href="javascript:void(0);">111 articles</a>
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-sm-6 mb-4">
            <div class="card">
              <div class="card-body">
                <div class="d-flex align-items-center mb-2">
                  <span class="badge bg-label-primary p-2 rounded me-2"><i class="bx bx-user bx-sm"></i></span>
                  <h5 class="fw-semibold mt-3 ms-1">Your Account</h5>
                </div>
                <ul>
                  <li class="text-primary py-1"><a href="Categories">Insights</a></li>
                  <li class="text-primary pb-1">
                    <a href="Categories">Manage Your Orders</a>
                  </li>
                </ul>
                <p class="mb-0 fw-semibold">
                  <a href="javascript:void(0);">29 articles</a>
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-sm-6 mb-4">
            <div class="card">
              <div class="card-body">
                <div class="d-flex align-items-center mb-2">
                  <span class="badge bg-label-danger p-2 rounded me-2"><i class="bx bx-world bx-sm"></i></span>
                  <h5 class="fw-semibold mt-3 ms-1">Domains and Email</h5>
                </div>
                <ul>
                  <li class="text-primary py-1">
                    <a href="Categories">Access to Admin Account</a>
                  </li>
                  <li class="text-primary pb-1">
                    <a href="Categories">Send Email From an Alias</a>
                  </li>
                </ul>
                <p class="mb-0 fw-semibold">
                  <a href="javascript:void(0);">22 articles</a>
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-sm-6 mb-4">
            <div class="card">
              <div class="card-body">
                <div class="d-flex align-items-center mb-2">
                  <span class="badge bg-label-warning p-2 rounded me-2"><i class="bx bx-mobile-alt bx-sm"></i></span>
                  <h5 class="fw-semibold mt-3 ms-1">Mobile Apps</h5>
                </div>
                <ul>
                  <li class="text-primary py-1">
                    <a href="Categories">Getting Started with the App</a>
                  </li>
                  <li class="text-primary pb-1">
                    <a href="Categories">Getting Started with Android</a>
                  </li>
                </ul>
                <p class="mb-0 fw-semibold">
                  <a href="javascript:void(0);">24 articles</a>
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-sm-6 mb-4">
            <div class="card">
              <div class="card-body">
                <div class="d-flex align-items-center mb-2">
                  <span class="badge bg-label-secondary p-2 rounded me-2"><i class="bx bx-envelope bx-sm"></i></span>
                  <h5 class="fw-semibold mt-3 ms-1">Email Marketing</h5>
                </div>
                <ul>
                  <li class="text-primary py-1"><a href="Categories">Getting Started</a></li>
                  <li class="text-primary pb-1">
                    <a href="Categories">How does this work?</a>
                  </li>
                </ul>
                <p class="mb-0 fw-semibold">
                  <a href="javascript:void(0);">27 articles</a>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /Knowledge Base -->

<!-- Keep Learning -->
<div class="help-center-keep-learning bg-help-center container-m-nx py-5">
  <div class="container-xl">
    <h4 class="text-center mb-4">Keep Learning</h4>
    <div class="row">
      <div class="col-lg-10 mx-auto">
        <div class="row">
          <div class="col-md-4 mb-md-0 mb-4 text-center">
            <i class='bx bx-detail bx-lg'></i>
            <h4 class="my-3">Blogging</h4>
            <p class="mb-1"> Expert tips and tools to improve your website or online store using our blog. </p>
            <a href="Categories" class="d-flex align-items-center justify-content-center">
              <span class="align-middle me-1">Learn More</span>
              <i class="bx bx-right-arrow-circle scaleX-n1-rtl"></i></a>
          </div>
          <div class="col-md-4 mb-md-0 mb-4 text-center">
            <i class='bx bx-bulb bx-lg'></i>
            <h4 class="my-3">Inspiration Center</h4>
            <p class="mb-1"> Inspiration from experts to help you start and grow your big ideas. </p>
            <a href="Categories" class="d-flex align-items-center justify-content-center">
              <span class="align-middle me-1">Learn More</span>
              <i class="bx bx-right-arrow-circle scaleX-n1-rtl"></i></a>
          </div>
          <div class="col-md-4 text-center">
            <i class='bx bx-group bx-lg'></i>
            <h4 class="my-3">Community</h4>
            <p class="mb-1"> A group of people living in the same place or having a particular. </p>
            <a href="Categories" class="d-flex align-items-center justify-content-center">
              <span class="align-middle me-1">Learn More</span>
              <i class="bx bx-right-arrow-circle scaleX-n1-rtl"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /Keep Learning -->

<!-- Help Area -->
<div class="help-center-contact-us container-m-nx">
  <div class="container-xl">
    <div class="row justify-content-center py-5">
      <div class="col-md-8 col-lg-6 text-center">
        <h4>Still need help?</h4>
        <p class="mb-4"> Our specialists are always happy to help. Contact us during standard business hours or email us 24/7 and we'll get back to you. </p>
        <div class="d-flex justify-content-center flex-wrap gap-4">
          <a href="javascript:void(0);" class="btn btn-label-primary">Visit our community</a>
          <a href="javascript:void(0);" class="btn btn-label-primary">Contact us</a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /Help Area -->